body {
	background: black;
	font-size: 30px; 
  margin: 0PX;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h5{
margin: 1rem 4rem;
  color: white;
}
h3{
  margin: 3rem 1rem;
  color: white;
}

.logo{
  height: 9rem; ;
  width: 9rem;
  
}

.image 
{
  display: flex;
 justify-content: center;

}

.head{ 
  background-color: white;
  height: 9rem;
  width: 100vw;
    
}

.image img{
margin: 0rem 1rem;
}

