body {
	background: black;
	font-size: xx-large; 

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h5{
margin: 1rem 2rem;
  color: white;
}
h3{
  margin: 3rem 0rem;
  color: white;
}

.logo{
  height: 9rem; ;
  width: 9rem;
  
}

.image 
{
  display: flex;
 justify-content: center;

}

.head{ 
  background-color: white;
  height: 9rem;
  width: 90rem;
    
}

.image img{
margin: 0rem 1rem;
}

